<a href="*">
<div class="text-white">
    <div class="shop-preview-coffee-img-container">
        <img class="shop-preview-coffee-img" src="img/coffee-costa-rica.png" alt="test">
    </div>
    <div class="product-name">
        Costa Rica
    </div>
    <div class="prices">
        6,90€ - 26,90€
    </div>
    <div class="shop-preview-icon-container">
        <img src="img/icon-coffee-beans.png" alt="*">
        <img src="img/icon-french-press.png" alt="*">
        <img src="img/icon-coffee-shovel.png" alt="*">
    </div>
</div>
</a>