<div class="footer-container">
  <div>
  <div class="footer-logo-container"><img class="footer-logo" src="img/footer-logo.svg" alt="rustica-logo"></div>
    <div class="text-white">
      <p class="footer-title">Rustica</p>
      <p class="footer-subtitle">Café & Rösterei</p>
    </div>
  </div>  
    <div class="footer-where-and-when text-white">
      <div class="footer-where">
        <p>Komm uns besuchen!</p>
        <p>Fraunhoferstr. 13, Kiel</p>
      </div>
      <div class="footer-when">
        <p>Mo - Fr 8-18 Uhr</p>
        <p>Sa 11-18 Uhr</p>
    </div>
    </div>
    <div class="footer-links-container text-white">
      <div class="footer-links1">
        <a class="text-white" href="Contact/index.html">Impressum</a>
        <br>
        <a class="text-white" href="Data/index.html">Datenschutz</a>
        <br>
      </div>
      <div class="footer-links2">
        <a class="text-white" href="Cafe/index.html">Café</a>
        <br>
        <a class="text-white" href="Shop/index.html">Shop</a>
        <br>
        <a class="text-white" href="Origins/index.html">Herkunft</a>
      </div>
  </div>