<div class="footer-container">
    <div><img src="img/logowhite.png" alt="rustica-logo"></div>
    <div>
      <p class="footer-title">Rustica</p>
      Café & Rösterei
    </div>
    <div class="where-and-when text-white">
      <div>
        <p>Komm uns besuchen!</p>
        <p>Fraunhoferstr. 13, Kiel</p>
      </div>
      <div>
        <p>Mo - Fr 8-18 Uhr</p>
        <p>Sa 11-18 Uhr</p>
    </div>
    </div>
    <div class="footer-links-container text-white">
      <div class="footer-links">
        <a class="text-white" href="*">Impressum</a>
        <a class="text-white" href="*">Datenschutz</a>
      </div>
      <div class="footer-links">
        <a class="text-white" href="*">Café</a>
        <a class="text-white" href="*">Shop</a>
        <a class="text-white" href="*">Herkunft</a>
      </div>
  </div>