<div class="image-gallery">
    <div class="image-gallery-1">
        <img class="g-img" src="../img/FEND-danish 1.png" alt="Foto unseres Gebäcks">
        <img class="g-img" src="../img/FEND-Coffee-sign.png" alt="Foto eines Caféschilds">
    </div>
    <div class="image-gallery-1">
        <img class="g-img" src="../img/FEND-Coffee-latte-art-2.png" alt="Kaffee-Beispielfoto">
        <img class="g-img" src="../img/FEND-Coffee-latte-art-3.png" alt="Kaffee-Beispielfoto">
    </div>
    <div class="image-gallery-1">
        <img class="g-img" src="../img/FEND-coffee-machine.png" alt="Foto einer Kaffeemaschine">
        <img class="g-img" src="../img/FEND-Coffee-latte-art.png" alt="Foto unserer Kaffeekunst">
    </div>
    <div class="image-gallery-1">
        <img class="g-img" src="../img/FEND-coffee-list.png" alt="Foto unseres Menüs">
        <img class="g-img" src="../img/FEND-coffee-breakfast 1.png" alt="Foto unseres Frühstücksangebots">
    </div>
</div>

<div class="image-gallery-mobile">
<div class="image-gallery-1">
    <img class="g-img" src="../img/FEND-danish 1.png" alt="Foto unseres Gebäcks">
    <img class="g-img" src="../img/FEND-coffee-machine.png" alt="Foto einer Kaffeemaschine">
    <img class="g-img" src="../img/FEND-Coffee-latte-art.png" alt="Foto unserer Kaffeekunst">
    <img class="g-img" src="../img/FEND-Coffee-sign.png" alt="Foto eines Caféschilds">
</div>
<div class="image-gallery-1">
    <img class="g-img" src="../img/FEND-Coffee-latte-art-2.png" alt="Kaffee-Beispielfoto">
    <img class="g-img" src="../img/FEND-coffee-breakfast 1.png" alt="Foto unseres Frühstücksangebots">
    <img class="g-img" src="../img/FEND-coffee-list.png" alt="Foto unseres Menüs">
    <img class="g-img" src="../img/FEND-Coffee-latte-art-3.png" alt="Kaffee-Beispielfoto">
</div>
</div>