<div class="image-gallery">
    <div class="image-gallery-1">
        <img class="g-img" src="../img/FEND-danish 1.png" alt="Unser Gebäck">
        <img class="g-img" src="../img/FEND-Coffee-sign.png" alt="Caféschild">
    </div>
    <div class="image-gallery-1">
        <img class="g-img" src="../img/FEND-Coffee-latte-art-2.png" alt="Kaffee-Beispielfoto">
        <img class="g-img" src="../img/FEND-Coffee-latte-art-3.png" alt="Kaffee-Beispielfoto">
    </div>
    <div class="image-gallery-1">
        <img class="g-img" src="../img/FEND-coffee-machine.png" alt="Kaffeemaschine">
        <img class="g-img" src="../img/FEND-Coffee-latte-art.png" alt="Unsere Kaffeekunst">
    </div>
    <div class="image-gallery-1">
        <img class="g-img" src="../img/FEND-coffee-list.png" alt="Unser Menüs">
        <img class="g-img" src="../img/FEND-coffee-breakfast 1.png" alt="Unser Frühstücksangebot">
    </div>
</div>

<div class="image-gallery-mobile">
<div class="image-gallery-1">
    <img class="g-img" src="../img/FEND-danish 1.png" alt="Unser Gebäck">
    <img class="g-img" src="../img/FEND-coffee-machine.png" alt="Kaffeemaschine">
    <img class="g-img" src="../img/FEND-Coffee-latte-art.png" alt="Unsere Kaffeekunst">
    <img class="g-img" src="../img/FEND-Coffee-sign.png" alt="Caféschild">
</div>
<div class="image-gallery-1">
    <img class="g-img" src="../img/FEND-Coffee-latte-art-2.png" alt="Kaffee-Beispielfoto">
    <img class="g-img" src="../img/FEND-coffee-breakfast 1.png" alt="Unser Frühstücksangebot">
    <img class="g-img" src="../img/FEND-coffee-list.png" alt="Unser Menü">
    <img class="g-img" src="../img/FEND-Coffee-latte-art-3.png" alt="Kaffee-Beispielfoto">
</div>
</div>