
.contact-main{
    padding-top: 133px;
}

.contact-title{
    margin-bottom: 34px;
}

.form{
    display: flex;
}
.contact-form{
    display: flex;
    justify-content: center;
}

.form-input{
    border-style: none none solid none;
}