.coffee-machine-img{
    height: 154px;
    width: 241px;

    @include respond(desktop){
        height: 391px;
        width: 612px;
    }
}

.coffee-worker-img{
    height: 320px;
    margin-bottom: 60px;
    @include respond(tablet){
        height: 498px;
        padding-right: 61px;
    }
    @include respond(desktop){
        height: 675px;
        padding-right: 122px;
    }
}

.coffee-plant-img-2{
    height: 160px;

    @include respond(tablet){
        height: 318px;
        padding-left: 60px;
    }
    @include respond(desktop){
        height: 476px;
        padding-left: 121px;
    }
}

.p-det-img-container{
    display: flex;
    justify-content: center;
    width: 90vw;
    background-color: #D7BE9D;

    @include respond(desktop){
        width: 30vw;
    }
}

.p-det-img{
    width: 90vw;

    @include respond(desktop){
        width: 30vw;
    }
}