.shop-preview-container{
    height: 910px;
    width: 100%;
    @include side-padding;
    background-color: #1A1A1A;
    padding-top: 60px;
  }
  
  .shop-preview-title{
    margin-bottom: 40px;

    @include respond(desktop){
      margin-bottom: 80px;
    }
  }
  .shop-preview{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;

    @include respond(desktop){
      height: 500px;
      justify-content: space-evenly;
    }
  }
  .product-name{
    font-size: 18px;
    
  }
  .prices{
    color: #737373;
    margin-bottom: 5px;
    font-size: 14px;

    @include respond(desktop){
      font-size: 18px;
    }
  }
  .shop-preview-coffee-img-container{
    width: 155px;
    height: 208px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(desktop){
      height: 400px;
      width: 21vw;
    }
  }
  .shop-preview-coffee-img{
    height: 100%;
  }
  .coffee-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;

    @include respond(tablet){
      flex-wrap: nowrap;
    }
  }
  .products-button{
    margin-bottom: 60px;
    width: 182px;
    height: 48px;
    background-color: #1A1A1A;
    text-decoration: none;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
    display: flex;
    justify-content: center; 
    align-items: center;
  }