 @import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background:white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

main {
  div {
    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

.navbar {
  position: fixed;
  height: 55px;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-logo {
    justify-self: left;
  }
  .navbar-menu {
    justify-self: right;
  }
}


.header {
  height: 75vh;
  font-weight: 900;
  color: white;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/FEND-Coffee-latte-art-3.png);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include side-padding;
  @include respond(phone){
    .title {

    .header-maintitle {
      font-size: 64px;
    }
    .header-subtitle {
      font-size: 18px;
    }
    }
    .header-button {
      margin-top: 103px;
      padding: 15px;
  }
  }
}

.container-align-center{
  display: flex;
  justify-content: center;
}

.text-white{
  color: white;
  text-decoration: none;
}

.introduction-container {
  @include side-padding;
  margin-top: 60px;
  padding-bottom: 60px;

}
.intro-title1 {
    margin-bottom: 20px;
    @include font-h2;
  }
  
.intro-title2 {
    margin-top: 40px;
    margin-bottom: 12px;
    @include font-h3;
  }

.where-and-when{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
  }

.bio-text{
    margin-bottom: 40px;
  }


.img-container{
  display: flex;
  justify-content: flex-end;
}

.coffee-shop-img {
    height: 182px;
    width: 241px;
    display: flex;
    justify-content: flex-end;
}

.coffee-plant-img {
  height: 160px;
  width: 241px;
  display: flex;
  justify-content: flex-start;
}

.shop-preview-container{
  height: 910px;
  width: 100%;
  @include side-padding;
  background-color: #1A1A1A;
  padding-top: 60px;
}

.shop-preview-title{
  @include font-h2;
  margin-bottom: 40px;
}
.shop-preview{
  display: flex;
  flex-wrap: wrap;
}
.product-name{
  font-size: 18px;
  line-height: 21px;
}
.prices{
  color: #737373;
  margin-bottom: 5px;
}
.shop-preview-coffee-img-container{
  width: 155px;
  height: 208px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop-preview-coffee-img{
  height: 100%;
}
.coffee-container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
.products-button{
  margin-bottom: 60px;
  width: 182px;
  height: 48px;
  background-color: #1A1A1A;
  text-decoration: none;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  display: flex;
  justify-content: center; 
  align-items: center;
}
.origins-container{
  height: 332px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/FEND-Coffee-bags-2.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.origins-text{
  margin-left: 66px;
  margin-right: 66px;
  margin-top: 12px;
  text-align: center;
}

.made-of-container{
  height: 805px;
  padding: 60px 25px 35px 25px;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.made-of-title{
  @include font-h2;
}
.made-of-img-container{
  height: 284px;
  width: 214px;
  margin-top: 35px;
  margin-bottom: 40px;
}
.made-of-img{
height: 100%;
}
.made-of-icon-container{
  width: 100%;
}
.made-of-icons{
  
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.shop-button{
  margin-top: 40px;
  margin-bottom: 72px;
  width: 163px;
  height: 48px;
  background-color: #1A1A1A;
  text-decoration: none;
  border-radius: 5px;
  border-width: 2px;
  display: flex;
  justify-content: center; 
  align-items: center;

}
.visit-us{
  @include font-h2;
}


.map-container{
  height: 231px;
  background-color: cadetblue;
}

.footer-container{
  @include side-padding;
  padding-top: 60px;
  height: 370px;
  background-color: black;
}

.footer-links-container{
  display: flex;

}
.footer-links{
  display: flex;
  flex-direction: column;
}