 @import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background:white;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;

  @include respond(desktop){
    font-size: 18px;
  }
}

main {
  @include side-padding;
}

h1{
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;

  @include respond(tablet){
    font-size: 78px;
  }

  @include respond(desktop){
    font-size: 92px;
  }
}
h2{
  font-size: 36px;
  font-weight: 900;
  text-decoration: none;

  @include respond(tablet){
    font-size: 42px;
  }

  @include respond(desktop){
    font-size: 48px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 900;

  @include respond(tablet){
    font-size: 37px;
  }

  @include respond(desktop){
    font-size: 42px;
  }
}

button{
  background: none;
  border: none;
}

.container-align-center{
  display: flex;
  justify-content: center;
}

.text-white{
  color: white;
  text-decoration: none;
}

.introduction-container {
  @include side-padding;
  margin-top: 60px;

  @include respond(desktop){
    margin-top: 124px;
  }

}
.introduction-sub-container{

  @include respond(desktop){
  display: flex;
  justify-content: space-between;
}
}

.intro-title1 {
    margin-bottom: 20px;
  }
  
.intro-title2 {
    margin-top: 40px;
    margin-bottom: 12px;
  }

.introduction-text{
  margin-top: 20px;
  margin-bottom: 20px;
  @include respond(desktop){
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
.where{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 3rem;
    display: inline-block;
  }
.when{
    margin-top: 20px;
    margin-bottom: 40px;
    display: inline-block;
  }

.bio-container{
  @include side-padding;
  padding-bottom: 60px;

  @include respond(desktop){
    display: flex;
    flex-direction: row-reverse;
  }
}

.bio-text{
    margin-bottom: 40px;

    @include respond(desktop){
      margin-right: 100px;
    }
  }


.img-container{
  display: flex;
  justify-content: flex-end;
}

.coffee-shop-img {
    height: 182px;
    width: 241px;
    display: flex;
    justify-content: flex-end;

    @include respond(desktop){
      height: auto;
      width: 40vw;
      margin-left: 126px;
    }
}

.coffee-plant-img {
  height: 160px;
  width: 241px;
  display: flex;
  justify-content: flex-start;

  @include respond(desktop){
    height: auto;
    width: 40vw;
    margin-right: 122px;
  }
}


.origins-container{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(../img/FEND-Coffee-bags-2.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include respond(desktop){
    background-position: center;
  }
}

.origins-text{
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 12px;
  text-align: center;
}
.origins-link{
  margin-top: 1rem;
}

.made-of-container{
  height: 100vh;
  @include side-padding;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items:center;

  @include respond(desktop){
    padding-top: 125px;
  }
}

.made-of-sub-container{   /* contains coffee img and icons with descriptions */
  margin-top: 35px;
  height: 70%;
  @include respond(desktop){
    display: flex;
    margin-top: 88px;
    height: 70%;
  }
}
.made-of-img-container{
  height: 284px;
  width: auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond(desktop){
    height: 521px;
    margin-right: 175px;
    margin-bottom: 0;
  }
}
.made-of-img{
height: 100%;
@include respond(desktop){
  height: 100%;
}
}
.made-of-icon-container{
  width: 100%;

  
}
.made-of-icon-sub-container{
  display: flex;

  @include respond(desktop){
  flex-direction: row;
  }
}
.made-of-icons{
  margin: 0 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  text-align: center;
  @include respond(desktop){
    flex-direction: column;
    text-align: start;
  }
}
.icon-desc{
  width: 25%;

  @include respond(desktop){
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }
}
.made-of-icon-desc{
  line-height: 18px;
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  @include respond(desktop){
    margin-left: 30px;
  }
}

.shop-button{
  margin-top: 40px;
  margin-bottom: 60px;
  width: 163px;
  height: 48px;
  background-color: #1A1A1A;
  text-decoration: none;
  border-radius: 5px;
  border-width: 2px;
  display: flex;
  justify-content: center; 
  align-items: center;

  @include respond(desktop){
    margin-top: 0;
    margin-bottom: 0;
  }
}
.visit-us{
  align-self: flex-start;
  justify-self: flex-end;
  margin-top: 72px;
  margin-bottom: 35px;

  @include respond(desktop){
    margin-top: 100px;
  }
}

.map-container{
  height: 40vh;
  width: 100%;

  @include respond(desktop){
  height: 62.5vh;
  }
}
.map-embed{
  width: 100%;
  height: 100%;
}



.bakery-container{
  @include respond(desktop){
  padding-left: 415px;
  padding-right: 415px;
  margin-bottom: 125px;
  }
}

.bakery-title{
  margin-top: 60px;
  margin-bottom: 20px;

  @include respond(desktop){
    margin-top: 125px;
    }
}

.origins-intro-container{
  padding-top: 60px;
}
.rustica-origins-text{
  margin-top: 20px;
}

.video-container{
  margin-top: 56px;
  display: flex;
  justify-content: center;
}
.origins-video{
  width: 95%;
}

.growing-areas-container{
  padding-top: 60px;
}
.growing-areas-sub-container{
  @include respond(tablet){
    display: flex;
    justify-content: space-between;
  }
}

.growing-areas-text{
  margin-bottom: 60px;
  margin-top: 26px;
}

.farmer-container{
  margin-top: 60px;

    @include respond(tablet){
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
}

.farmer-text{
  margin-top: 26px;
  margin-bottom: 60px;
}

.data-main{
  padding-top: 133px;
  padding-bottom: 120px;

  @include respond(tablet){
    padding-right: 120px;
    padding-left: 120px;
  }

  @include respond(desktop){
    padding-right: 310px;
    padding-left: 310px;
  }
}

.data-margin{
  margin-top: 30px;
}

.rustica-logo{
  fill: black;
}
