 @import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background:white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

main {
  div {
    @media (min-width: 768px) {
      color: var(--div-color);
    }
  }
}

.navbar {
  position: fixed;
  height: 55px;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-logo {
    justify-self: left;
  }
  .navbar-menu {
    justify-self: right;
  }
}


.header {
  height: 75vh;
  font-weight: 900;
  color: white;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3)), url(../img/FEND-Coffee-latte-art-3.png);
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include side-padding;
  @include respond(phone){
    .title {

    .header-maintitle {
      font-size: 64px;
    }
    .header-subtitle {
      font-size: 18px;
    }
    }
    .header-button {
      margin-top: 103px;
      padding: 15px;
  }
  }
}

.introduction-container {
  @include side-padding;
  margin-top: 60px;
  padding-bottom: 60px;

}
.intro-title1 {
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 900;
  }
  
.intro-title2 {
    margin-top: 40px;
    margin-bottom: 12px;
    font-size: 32px;
    font-weight: 900;
  }

.where-and-when{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
  }

.bio-text{
    margin-bottom: 40px;
  }


.img-container{
  display: flex;
  justify-content: flex-end;
}

.coffee-shop-img {
    height: 182px;
    width: 241px;
    display: flex;
    justify-content: flex-end;
}

.coffee-plant-img {
  height: 160px;
  width: 241px;
  display: flex;
  justify-content: flex-start;
}